
.container{
height: 100vh;


}
.header{
  border: 1px solid black;
}

.mainContent{
display: flex;
}
.sidebar{
  padding-top: 10P;
  width: 25%;
  min-width: 100px;
  align-items: center;
}

.avatar{
justify-content: center;
display: flex;
padding-bottom: 10px;
padding-top: 10px;
}

.sidebarDisabled{
  padding-top: 10P;
  width: 0%;
  align-items: center;
}
 
